@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap');
/* Front Page*/
html{
    scroll-behavior: smooth;
}
#front,#myworks{
    height: 100vh;
    width: 100%;
    justify-content: center;
}
#front{
    background-image: url("/Portfolio/splash44.png");
    background-size: cover;
    background-color:aliceblue;
}

#myabout{
    height: 100vh;
    width: 100%;
    background-image: url("/Portfolio/background.png");
    background-size: cover;
}
body{
    margin: 0;
}

nav{
    display: flex;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;
}
#menu{
    display: flex;
    list-style-type:none;
}
nav ul li{
    padding-left: 150px;;
}
nav ul li a{
    border: 3px solid;
    background-color: transparent;
    
    text-decoration:none ;
    padding: 7px 20px;
    
    border-radius: 20px;
    transition: .4s;
    letter-spacing: 1px;
}
#service,#about,#news{
    color:#fff;
    border-color:#fff;
}
#service:hover,#about:hover,#news:hover{
    border-color: #000;
    background-color: blueviolet;

}
nav ul li #home{
    color: #000;
    border: 3px solid #000;
}
nav ul li #home:hover{
    color: #fff;
    background-color: #000;
    border-color: #000;
}
nav ul li a:hover{
    border-radius: 0;
}
#front #sign-login{
    padding-top: 16px;
    padding-left:200px ;
}
#front #sign-login a{
    text-align: center;
    border: 3px solid rgb(16, 22, 27);
    padding: 7px 20px ;
    text-decoration: none;
    margin-right: 80px;
    background-color: transparent;
    color: rgb(16, 22, 27);
    transition: .4s;
    letter-spacing: 1px;
}
#front #sign-login a:hover{
    background-color: #000;
    border-radius: 20px;
    color: #fff;
    border-color: #000;
}
#network{
  
    float:right;
    padding-top: 5%;
    height: 500px;
    align-items: center;
    justify-content: center;
} 
#main-font{
    
    font-size: 100px;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    font-family: 'Mrs Saint Delafield', cursive;
    margin-top: 200px;
    color: aliceblue;
    letter-spacing: 5px;
    background-image: url("/Portfolio/nigth_camp.jpg");
    background-size: cover;
    background-clip: text;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-clip: text;
    color: transparent;
}
/* --------------------------Sin Up Page---------------------------- */
#signup-one{
    height: 100vh;
    width: 100%;
    background-image: url("/Portfolio/background.png");
    padding-top: 10px;
    
}
#container{
    padding-top: 50px;
    margin :auto;
    height: 600px;
    width: 59%;
    border: none;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 11px 11px 20px #cbced1,
                -11px -11px 20px #fff;
}
form{
    padding-right: 100px;
    padding-left: 1px;
}
#table{
    margin-bottom: 50px;
    
}
#error1,#error2,#error3,#error4,#error5,#error6{
    padding: 8px 100px;
    font-size: 15px;
    border-collapse: collapse;
}


#computer{
    height: 50%;
}
input{
    padding: 13px 100px;
    border: none;
    border-radius: 30px;
    box-shadow: 10px 10px 20px #cbced1,
                -10px -10px 20px #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    color: black;
}
#submit:hover{
    box-shadow: -10px -10px 20px #cbced1,
                10px 10px 20px #fff;
}
#signup-one h1{
    text-align: center;
    font-size: 30px;
    font-weight: 1000px;
    letter-spacing: 3px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
}
/* ------------------------ Login Page ------------------------ */